<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Tengchao's Homepage!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js" defer></script>
  </head>
  <body>
    
    Hello! My name is Tengchao Zhou. 
    
    Here are some statements about what I have done:
    
    <ul>
    •	Participated in the 2017 Rainbow Game Jam hosted on itch.io. My submission was ranked #2 among 42 entries in terms of “Use of Theme.” My work is called Free Again, which is an artistic puzzle game that explores concepts about gender and sexuality.
    o	Here is a link to the game: https://ffmaer.itch.io/free-again
    o	Main technology stack: HTML5 Canvas, Javascript, jQuery, RequireJS 

    •	Built a WebVR multiplayer art game called Seekers & Seers. Two thumbnails of the game are shown below. This work represents my attempt to integrate art with technology. While designing and programming, I was also developing philosophical thoughts on the nature of art games and games in general. The desire for artistic expression also prompted me to think about how programming can be more expressive.
    o	Here is a link to the version 1 of the game: https://sns.instantAha.com
    o	Here is a link to the version 2 of the game: https://vp.instantAha.com
    o	Main technology stack: A-Frame, Javascript, jQuery, jQuery Mobile

    •	Envisioned, designed, engineered, deployed, demonstrated instantAha.com, an online visual and auditory dictionary.
    o	Main technology stack: Chrome Extension, Processing.js, Node.js, Javascript, jQuery, MySQL, AWS, Nginx, Supervisord, Git, Let’s Encrypt, FFMpeg, Bootstrap
    </ul>
  </body>
</html>
